body {
  background: #ECF0F1;
  position: relative
}

header h1 {
  color: #2C3E50;
}

.container {
  margin-top: 40px;
  text-align: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.wrap {
  width: auto;
}

div#input {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  color: #2980B9;
}

div#clear_finished {
  position: absolute;
  height: 20px;
  width: 10px;
  border-radius: 0 90px 90px 0;
  background: #ccc;
  top: 4px;
  right: -21px;
}

div#clear_all {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #ccc;
  top: 38px;
  right: -23px;
}

div#save_list {
  position: absolute;
  background: #ccc;
  right: -45px;
  top: 16px;
  height: 20px;
  width: 4px;
}

div#save_list::after {
  position: absolute;
  top: 8px;
  left: -8px;
  content: "";
  background: #ccc;
  height: 4px;
  width: 20px;
}

div#clear_finished:hover,
div#clear_all:hover,
div#save_list:hover,
div#save_list:hover::after {
  background: #E74C3C;
  cursor: pointer;
}

div#save_list:hover,
div#save_list:hover::after {
  background: #3498DB;
}

#input form {
  position: relative;
  width: 100%;
  margin-bottom: 0;
}

ul#todos {
  margin: auto;
  width: 50%;
  box-sizing: border-box;
}

ul#todos li,
div#input {
  margin-bottom: 5px;
}

ul#todos li {
  border: 1px solid #ccc;
  display: block;
  list-style: none;
}

ul#todos li::after {
  content: "";
  display: block;
  clear: both;
}

ul#todos li span {
  float: left;
  padding: 20px;
  color: #2980B9;
}

ul#todos li p {
  font-size: 2em;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 0;
  transition: all 0.5s;
}

#input input[type="checkbox"] {
  float: left;
  margin-top: 24px;
  margin-right: 8px;
}

input[type="checkbox"]:checked + p {
  transition: all 0.5s ease;
  text-decoration: line-through;
  color: #ccc;
}

input[type="text"] {
  border: none;
  font-size: 2em;
  font-style: italic;
  padding: 10px;
  height: 2.1em;
  margin-bottom: 0;
  width: 100%;
}

input[type="text"]:focus {
  border: none;
}

input[type="text"]#edit_todo {
  padding-left: 70px;
  background: #D5D5D5;
  height: 108px;
}

input#content {
  display: none;
}

label {
  position: relative;
  display: inline-block;
  font-weight: 400;
  width: 92%;
  box-sizing: border-box;
}

input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #2C3E50;
   opacity:  1;
}

p {
  display: inline-block;
}

div.cross {
  float: right;
  background: #2C3E50;
  margin-top: 42px;
  margin-right: 25px;
  height: 24px;
  width: 4px;
  position: relative;
  transform: rotate(45deg);
}

div.cross::after {
  background: #2C3E50;
  content: "";
  height: 4px;
  left: -10px;
  top: 9px;
  width: 24px;
  position: absolute;
}

div.cross:hover::after,
div.cross:hover {
  background: #E74C3C;
}

div.cross:hover {
  cursor: pointer;
}

/***************************************************************************
Aside
***************************************************************************/
html,
body {
  height: 100%;
  overflow: visible;
}

aside {
  position: absolute;
  color: #ECF0F1;
  background: #2C3E50;
  height: 100%;
  width: 220px;
  top: -40px;
  left: 0px;
  overflow: visible;
  z-index: 2;
  transition: left 0.5s;
}

aside div {
  padding-top: 40px;
  padding: 40px 20px 0 20px;
}

aside #heading h2 {
  display: inline-block;
  margin: 0;
}

aside #heading span {
  float: right;
  box-sizing: border-box;
  font-size: 4.1rem;
  line-height: 1.25
}

aside h4 {
  display: inline-block;
  font-size: 2.4rem;
}

aside span.subheading {
  font-size: 2.4rem;
  float: right;
  line-height: 3rem;
}

aside ul {
  margin-left: -20px;
  width: 220px;
}

aside li {
  padding: 0 20px;
  list-style: none;
}

aside li:hover{
  cursor: pointer;
  background: rgb(59, 87, 114);
}

aside li::after {
  content: "";
  display: block;
  clear: both;
}

aside div.title {
  display: inline-block;
  margin: 0;
  padding: 0;
}

aside div.todos_left {
  float: right;
  box-sizing: border-box;
  padding: 0;
}

div#toggle_aside {
  position: absolute;
  top: -31px;
  left: 228px;
  width: 0px;
  height: 0px;
  border-left: 30px solid #3498DB;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  padding: 0;
  transition: border-left 0.5s, border-bottom 0.5s, border-top 0.5s, left 0.5s, transform 0.5s;
  z-index: 4;
}

div#toggle_aside:hover {
  cursor: pointer;
}

div#toggle_aside.toggle_aside_button {
  transition: all 0.5s ease;
  left: 10px;
  transform: rotate(180deg);
}

.toggle_aside_view {
  transition-property: left;
  transition-duration: 0.5s;
  /*transition: left 0.5s ease;*/

  left: -220px;
}
